### Data Structures in Python
* Strings-->" " or ' '
* Lists-->[]
* Tuples-->()
* Dictionaries-->{kay:value}
* Sets-->{}

In [1]:
a=" "
type(a)

str

In [2]:
a=[]
type(a)

list

In [3]:
a=()
type(a)

tuple

In [4]:
a={}
type(a)

dict

#### Strings
* Collection of data or information with " " or ' '.
* ***Accessing Index Values:***
    * Forward Index(left to right(starts from 0 to n-1))
    * Backward Index(right to left(starts from -1)
* ***Delete a String***
    * using **del** keyword
* ***Slicing***
    * Single slicing-->[ : ]
    * Double slicing-->[ : : ]

In [8]:
s="Welcome"
print(s)
print(type(s))
#forward indexing
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])
print("\n")
#backward indexing
print(s[-1])
print(s[-2])
print(s[-3])
print(s[-4])
print(s[-5])
print(s[-6])
print(s[-7])

Welcome
<class 'str'>
W
e
l
c
o
m
e


e
m
o
c
l
e
W

In [15]:
s="Welcome Python Programming"
print(s[9])
print(s[10])
print(s[7])
s[7]

y
t

' '

In [11]:
s="apple"
del(s)   #deletion
print(s)

NameError: name 's' is not defined

In [18]:
s="Welcome"
print(s[:])
print(s[1:])
print(s[:1])
print(s[1:6])
print(s[0:7:2]) 
print(s[::3])
print(s[::-1])

Welcome
elcome
W
elcom
Wloe
Wce
emocleW

In [22]:
# Checking for a palindrome

In [25]:
a=input()
if(a==a[::-1]):
    print("palindrome")
else:
    print("not a palindrome")

12121
palindrome

In [34]:
a="Welcome"
print(reversed(a))

<reversed object at 0x0349B988>

In [35]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

* capitalize() --> Capitalises the character at zero th index
* title() --> Capitalises the first chraracter of each word
* upper() --> Capitalises each letter in the string
* lower() --> Converts each letter in the string to lower case
* casefold() --> Converts each letter in the string to lower case
* center(size) --> Alligns the string within the given size
* swapcase() --> Swaps lower case to upper case and vice versa
* isupper() --> Checks for upper case letter and returns true or false(whole string must be capital, spaces are also not allowed)
* islower() --> Checks for lower case letter and returns true or false(whole string must be capital, spaces are also not allowed)
* isalpha() --> Checks for alphabets
* isdigit() --> Checks for digits
* isspace() --> checks for spaces
* startswith(char) --> Checks whether starts with given character and returns boolean values
* endswith(char) --> Checks whether starts with given character and returns boolean values
* encode() --> Converts the string to bytes
* **no decode method is present**
* count(char) --> Counts the times it is repeated
* strip() --> Removes spaces in the string
* lstrip() --> Removes left spaces in the string
* rstrip() --> Removes right spaces in the string
* expandtabs(size) --> expands the size of spaces by the given size
* zfill(size) -->fills zeroes
* format:
       "{} {}".format(args)
* index(char) --> Returns index position of char
* rindex(char) --> Returns the next index position of char
* str.join(char) --> joins the str after every character in the string
* split() --> divides the string and returns in the form of list
* replace(old_value,new_value) --> Can replace a str by other
* sep="" --> Removes spaces before and after spaces of (.)

In [49]:
s="python Programming language"
print("1.",s.capitalize())
print("2.",s.title())
print("3.",s.upper())
print("4.",s.lower())
print("5.",s.casefold())
print("6.",s.center(20))
print("7.",s.swapcase())
print("8.",s.isupper())
print("9.",s.islower())
print("10.",s.isdigit())
print("11.",s.isalpha())
print("12.",s.isspace())
print("13.",s.startswith('p'))
print("14.",s.endswith('e'))
print(type(s))
print("15.",s.encode())
print(type(s))
print(s)

1. Python programming language
2. Python Programming Language
3. PYTHON PROGRAMMING LANGUAGE
4. python programming language
5. python programming language
6. python Programming language
7. PYTHON pROGRAMMING LANGUAGE
8. False
9. False
10. False
11. False
12. False
13. True
14. True
<class 'str'>
15. b'python Programming language'
<class 'str'>
python Programming language

In [10]:
# Task:
#'''i/p: s="vidya 528 anu 540 ambika 522
#   o/p:vidyaanuambika
#       528540522'''

In [11]:
s=input()
alph=" "
num=" "
for i in range(len(s)):
    if(s[i].isalpha()):
        alph=alph+s[i]
    if(s[i].isdigit()):
        num=num+s[i]
print(alph)
print(num)

errf;907b[[97u[9[8-0ugjf5ted75
 errfbuugjfted
 90797980575

In [12]:
# Task
# i/p:s="vIdyA 528 aNu 540 aMbIka 522"
#o/p:vIdyAaNuaMbIka
#    IANMI 5(count)
#    vdyauabka 10(count)
#    spaces 5(count)
#    528540522

In [18]:
s=input()
alph=" "
num=" "
num_count=0
caps=" "
caps_count=0
lows=" "
lows_count=0
space=" "
space_count=0
for i in s:
    if(i.isalpha()):
        alph=alph+i
        if(i.isupper()):
            caps=caps+i
            caps_count+=1
        if(i.islower()):
            lows=lows+i
            lows_count+=1
    elif(i.isspace()):
        space=space+i
        space_count+=1
    elif(i.isdigit()):
        num=num+i
        num_count+=1
print(alph)
print(caps," ",caps_count)
print(lows," ",lows_count)
print(space," ",space_count)
print(num," ",num_count)

vIdyA 528 aNu 540 aMbIka 522
 vIdyAaNuaMbIka
 IANMI   5
 vdyauabka   9
         5
 528540522   9

In [21]:
#count
s="welcome python classes"
s.count('e')

3

In [24]:
s='      welcome'
s.strip()

'welcome'

In [25]:
s='        welcome'
s.lstrip()

'welcome'

In [26]:
s='welcome         '
s.rstrip()

'welcome'

In [27]:
s='welcome\twelcome'
s.expandtabs(5)

'welcome   welcome'

In [30]:
s='welcome'
s.zfill(9)

'00welcome'

In [31]:
"{} {} language".format("python","programming")

'python programming language'

In [32]:
# Printing tables using format

In [36]:
n=int(input("enter a number:"))
for 
for i in range(1,11):
    print('{}*{}={}'.format(n,i,n*i))

enter a number:5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [41]:
s='welcome'
print(s.index('e'))
print(s.rindex('e'))

1
6

In [42]:
s='welcome'
'@'.join(s)

'w@e@l@c@o@m@e'

In [49]:
s='welcome welcome'
print(s.split())
print(s.split('l'))
s1=s.split('l')
print(s1[1][2])

['welcome', 'welcome']
['we', 'come we', 'come']
m

In [3]:
s="Python  "  #two spaces are given
s.replace(' ',"Programming")

'PythonProgrammingProgramming'

In [4]:
# Task
# i/p: s="apssdc PYTHON proGrAMmiNG vignans lara"
#o/p: Apssdc python PRogRamMIng vignans LARA

In [7]:
s="apssdc PYTHON proGrAMmiNG vignans lara"
print("{} {} {} {} {}".format('Apssdc','python','PRogRamMIng','vignans','LARA' ))

Apssdc python PRogRamMIng vignans LARA

In [8]:
s="apssdc PYTHON prOGrAMmiNG vignans lara"
l=s.split()
print(l[0].capitalize(),end=" ")
print(l[1].lower(),end=" ")
print(l[2].swapcase(),end=" ")
print(l[3],end=" ")
print(l[4].upper(),end=" ")

Apssdc python PRogRamMIng vignans LARA

In [9]:
# Task
#i/p: Chintala Srividhya
#o/p: c.srividhya
#vejandla meghana ramya =v.meghana ramya
#ojg mounika rani meghana=o.mounika rani meghana

In [4]:
s=input()
l=s.split()
#print("{}.{}".format(l[0][0],l[1]))
#print(s[0],".",s[:],sep="")
#print(l[0][0],".",l[1:],sep="")
f=l[0][0]
l1=l[1:]
print(f,".",end=" ")
for i in l1:
    print(i,end=" ")

aohyfoe uhofu ashfoa ahgsuofg uityp98
a . uhofu ashfoa ahgsuofg uityp98

### Lists
* ordered collection of elements within [] seperated by ,
* mutable
* have indexing,slicing

In [16]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [38]:
l=[]
print("1.",l)
print("2.",type(l))
l.append(1)
print("3.",l)
l.append(2)
print("4.",l)
l.append([3,4,5])
print("5.",l)
print("6.",l[2][1])
l.pop()
print("7.",l)
l.pop(1)
print("8.",l)
l1=[23,45,634,546,4523,321,36,35,542]
l1.reverse()
print("9.",l1)
l1.sort() #ascending order
print("10.",l1)
l1.sort(reverse=True)#descending order
print("11.",l1)
l=l1 #copy
print("12.",l)

1. []
2. <class 'list'>
3. [1]
4. [1, 2]
5. [1, 2, [3, 4, 5]]
6. 4
7. [1, 2]
8. [1]
9. [542, 35, 36, 321, 4523, 546, 634, 45, 23]
10. [23, 35, 36, 45, 321, 542, 546, 634, 4523]
11. [4523, 634, 546, 542, 321, 45, 36, 35, 23]
12. [4523, 634, 546, 542, 321, 45, 36, 35, 23]

In [39]:
#

In [40]:
l=[]
for i in range(1,10):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
l=[]
for i in range(1,51):
    if(i%2==0):
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [43]:
l=[]
for i in range(1,2021):
    if(i%400==0) or (i%100!=0 and i%4==0):
        l.append(i)
print(l)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252, 256, 260, 264, 268, 272, 276, 280, 284, 288, 292, 296, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400, 404, 408, 412, 416, 420, 424, 428, 432, 436, 440, 444, 448, 452, 456, 460, 464, 468, 472, 476, 480, 484, 488, 492, 496, 504, 508, 512, 516, 520, 524, 528, 532, 536, 540, 544, 548, 552, 556, 560, 564, 568, 572, 576, 580, 584, 588, 592, 596, 604, 608, 612, 616, 620, 624, 628, 632, 636, 640, 644, 648, 652, 656, 660, 664, 668, 672, 676, 680, 684, 688, 692, 696, 704, 708, 712, 716, 720, 724, 728, 732, 736, 740, 744, 748, 752, 756, 760, 764, 768, 772, 776, 780, 784, 788, 792, 796, 800, 804, 808, 812, 816, 820, 824, 828, 832, 836, 840, 844, 848, 852, 856, 860, 864, 868, 872, 876, 880, 884, 888, 892, 896, 904, 908, 912, 916, 920, 924, 928, 932, 936, 940, 944, 948, 952, 956, 960, 964, 968, 972, 976, 980, 984, 988, 992, 996, 1004, 1008, 1012, 1016, 1020, 1024, 1028, 1032, 1036, 1040, 1044, 1048, 1052, 1056, 1060, 1064, 1068, 1072, 1076, 1080, 1084, 1088, 1092, 1096, 1104, 1108, 1112, 1116, 1120, 1124, 1128, 1132, 1136, 1140, 1144, 1148, 1152, 1156, 1160, 1164, 1168, 1172, 1176, 1180, 1184, 1188, 1192, 1196, 1200, 1204, 1208, 1212, 1216, 1220, 1224, 1228, 1232, 1236, 1240, 1244, 1248, 1252, 1256, 1260, 1264, 1268, 1272, 1276, 1280, 1284, 1288, 1292, 1296, 1304, 1308, 1312, 1316, 1320, 1324, 1328, 1332, 1336, 1340, 1344, 1348, 1352, 1356, 1360, 1364, 1368, 1372, 1376, 1380, 1384, 1388, 1392, 1396, 1404, 1408, 1412, 1416, 1420, 1424, 1428, 1432, 1436, 1440, 1444, 1448, 1452, 1456, 1460, 1464, 1468, 1472, 1476, 1480, 1484, 1488, 1492, 1496, 1504, 1508, 1512, 1516, 1520, 1524, 1528, 1532, 1536, 1540, 1544, 1548, 1552, 1556, 1560, 1564, 1568, 1572, 1576, 1580, 1584, 1588, 1592, 1596, 1600, 1604, 1608, 1612, 1616, 1620, 1624, 1628, 1632, 1636, 1640, 1644, 1648, 1652, 1656, 1660, 1664, 1668, 1672, 1676, 1680, 1684, 1688, 1692, 1696, 1704, 1708, 1712, 1716, 1720, 1724, 1728, 1732, 1736, 1740, 1744, 1748, 1752, 1756, 1760, 1764, 1768, 1772, 1776, 1780, 1784, 1788, 1792, 1796, 1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

In [47]:
l=[]
for i in range(5,501):
    if(i%5==0 and i%7==0):
        l.append(i)
print(l)

[35, 70, 105, 140, 175, 210, 245, 280, 315, 350, 385, 420, 455, 490]

In [49]:
l=[]
for i in range(1,2021):
    if(i%400==0):
        l.append(i)
    elif(i%4==0):
            l.append(i)
    elif(i%100!=0):
                continue
print(l)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252, 256, 260, 264, 268, 272, 276, 280, 284, 288, 292, 296, 300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400, 404, 408, 412, 416, 420, 424, 428, 432, 436, 440, 444, 448, 452, 456, 460, 464, 468, 472, 476, 480, 484, 488, 492, 496, 500, 504, 508, 512, 516, 520, 524, 528, 532, 536, 540, 544, 548, 552, 556, 560, 564, 568, 572, 576, 580, 584, 588, 592, 596, 600, 604, 608, 612, 616, 620, 624, 628, 632, 636, 640, 644, 648, 652, 656, 660, 664, 668, 672, 676, 680, 684, 688, 692, 696, 700, 704, 708, 712, 716, 720, 724, 728, 732, 736, 740, 744, 748, 752, 756, 760, 764, 768, 772, 776, 780, 784, 788, 792, 796, 800, 804, 808, 812, 816, 820, 824, 828, 832, 836, 840, 844, 848, 852, 856, 860, 864, 868, 872, 876, 880, 884, 888, 892, 896, 900, 904, 908, 912, 916, 920, 924, 928, 932, 936, 940, 944, 948, 952, 956, 960, 964, 968, 972, 976, 980, 984, 988, 992, 996, 1000, 1004, 1008, 1012, 1016, 1020, 1024, 1028, 1032, 1036, 1040, 1044, 1048, 1052, 1056, 1060, 1064, 1068, 1072, 1076, 1080, 1084, 1088, 1092, 1096, 1100, 1104, 1108, 1112, 1116, 1120, 1124, 1128, 1132, 1136, 1140, 1144, 1148, 1152, 1156, 1160, 1164, 1168, 1172, 1176, 1180, 1184, 1188, 1192, 1196, 1200, 1204, 1208, 1212, 1216, 1220, 1224, 1228, 1232, 1236, 1240, 1244, 1248, 1252, 1256, 1260, 1264, 1268, 1272, 1276, 1280, 1284, 1288, 1292, 1296, 1300, 1304, 1308, 1312, 1316, 1320, 1324, 1328, 1332, 1336, 1340, 1344, 1348, 1352, 1356, 1360, 1364, 1368, 1372, 1376, 1380, 1384, 1388, 1392, 1396, 1400, 1404, 1408, 1412, 1416, 1420, 1424, 1428, 1432, 1436, 1440, 1444, 1448, 1452, 1456, 1460, 1464, 1468, 1472, 1476, 1480, 1484, 1488, 1492, 1496, 1500, 1504, 1508, 1512, 1516, 1520, 1524, 1528, 1532, 1536, 1540, 1544, 1548, 1552, 1556, 1560, 1564, 1568, 1572, 1576, 1580, 1584, 1588, 1592, 1596, 1600, 1604, 1608, 1612, 1616, 1620, 1624, 1628, 1632, 1636, 1640, 1644, 1648, 1652, 1656, 1660, 1664, 1668, 1672, 1676, 1680, 1684, 1688, 1692, 1696, 1700, 1704, 1708, 1712, 1716, 1720, 1724, 1728, 1732, 1736, 1740, 1744, 1748, 1752, 1756, 1760, 1764, 1768, 1772, 1776, 1780, 1784, 1788, 1792, 1796, 1800, 1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1900, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

In [51]:
l=[]
for i in range(ord('A'),ord('Z')+1):
    l.append(i)
print(l)

[65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [52]:
l=[]
for i in range(ord('A'),ord('Z')+1):
    if(i%2==0):
        l.append(chr(i))
print(l)

['B', 'D', 'F', 'H', 'J', 'L', 'N', 'P', 'R', 'T', 'V', 'X', 'Z']

### Tuples
* collection of different elements with in()
* have indexing and slicing
* is immutable

In [54]:
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [55]:
t=(1,2,3,4,5,6,7)
print(t)
print(type(t))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [56]:
t1=list(t)
print(t1)
print(type(t1))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [58]:
t2=tuple(t1)
print(t2)
print(type(t2))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [59]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [61]:
t=(2,2,2,4,55,7)
t.count(2)

3

In [62]:
max(t)

55

In [63]:
min(t)

2

In [64]:
l=[1,2,3,4,5,6]
l1=list(map(str,l))
print(l1)

['1', '2', '3', '4', '5', '6']

In [65]:
l=['1','2','3','4','5','6']
l1=list(map(float,l))
print(l1)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

2,2,4,3,5,8,6,4,9,1
CREATE ONE TUPLE
print list of squares of the tuple
convert list to tuple
find max element index position
find the count of the min element

In [4]:
t=(2,2,4,3,5,8,6,4,9,1)
l=[]
count=0
for i in t:
    l.append(i*i)
print(l)
t1=tuple(l)
print(t1)
max_value=max(t1)
max_index=t1.index(max_value)
print(max_index)
min_value=min(t1)
for i in t1:
    if(i==min_value):
        count=count+1
print(count)

[4, 4, 16, 9, 25, 64, 36, 16, 81, 1]
(4, 4, 16, 9, 25, 64, 36, 16, 81, 1)
8
1

### Dictionaries
* colection of items(key,values)
* {key:value}
* no index values 
* values are printed based on key values

In [5]:
d={}
print(type(d))
d1=dict()
print(type(d1))

<class 'dict'>
<class 'dict'>

In [14]:
l1=['a','b','c','d']
l2=[1,2,3,4,5]
d1=dict(zip(l1,l2))
print(d1)
d1=dict(zip(l2,l1))
print(d1)
print(d1.popitem())
print(d1)
d1.update({2:'k'})
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
(4, 'd')
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'k', 3: 'c'}

In [11]:
l=['2','4','6']
t=('abc','def','ghi')
d2=dict(zip(l,t))
print(d2)

{'2': 'abc', '4': 'def', '6': 'ghi'}

In [12]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [13]:
d={"name":"vidhya","branch":"cse","roll.no":654,"clg":"vignan"}
d.keys()

dict_keys(['name', 'branch', 'roll.no', 'clg'])

In [14]:
d.values()

dict_values(['vidhya', 'cse', 654, 'vignan'])

In [15]:
d.items()

dict_items([('name', 'vidhya'), ('branch', 'cse'), ('roll.no', 654), ('clg', 'vignan')])

In [16]:
d.get("name")

'vidhya'

In [17]:
d['a']=23

In [18]:
d

{'name': 'vidhya', 'branch': 'cse', 'roll.no': 654, 'clg': 'vignan', 'a': 23}